body{
    color: white;
    background-color: black;
}

.fokep{
    background-image: url(/img/fokep.png);
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.navi{
    display: flex;
    justify-content: space-between;
}

.jobbEgy{
    display: flex;
    margin: 11px;
    justify-content: flex-end;
    text-align: end;
    align-items: center;
}

.container{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    padding: 5%;
    height: 40vh;
    gap: 10px;
    width: 90%;
    height: 17vh;
}

.jobboldal{
    height: 40vh;
    width: 10%;
    text-align: left;
    align-items: center;
}

.baloldal{
    text-align: right;
    width: 45%;
}

.maimenu{
    height: 30vh;
}

#cim, #szoveg{
    text-align: center;
}

